<!-- Page -->
<html>
    <head>
        <style> 
            body {
                margin: 0px;
                padding: 0px;
            }
            img {
                width: 100%;
            }
            #full-banner {
                width: 100%;
                padding: 5px;
                margin: 0px;
                height: 16px;
                text-align: center;
                font-size: 12px;
                font-weight: bolder;
                background-color: #ffaa99;
                font-family: Arial;
                vertical-align: middle;
            }
            #full-banner p {
                padding: 0px;
                margin: auto;
            }
        </style>
       
<script type="text/javascript" src="https://navatha3-dev-ed.lightning.force.com/canvas/sdk/js/45.0/canvas-all.js"></script>
    </head>
    <body>

        <% 
            var user = "No user";
            if (context != "") { 
                var user = context['context']['user']['userName'];
            }
        %>

        <div id="full-banner"><p>You're connected to this system as <%= user %>.</p></div>

        <img id="ctx" src="<%= url %>" />

        <script type="text/javascript">
            console.log("SFDC Raw Context: <%= context %>");
			alert('1')
var sr = {};
			var payloadObj = { recommendation: "Verify identity" };
			Sfdc.canvas(function () {
				sr = JSON.parse('<%- sr %>');
               
				
                listenEvents();
                
			});
	function listenEvents() {
				Sfdc.canvas.client.subscribe(sr.client, {
					name: "recordchanged",
					onData: function (e) {
						console.log("Canvas recevied", e);
						var para = document.createElement("p");
						var node = document.createTextNode("Got data at => " + new Date() + JSON.stringify(e));
						para.appendChild(node);
						document.querySelector("#messages").appendChild(para);
					},
				});
			}
	

        </script>

    </body>
</html>
