<!-- Page -->
<html>
    <head>
        <style>
            body {
                margin: 0px;
                padding: 0px;
            }
            img {
                width: 100%;
            }
            #full-banner {
                width: 100%;
                padding: 5px;
                margin: 0px;
                height: 16px;
                text-align: center;
                font-size: 12px;
                font-weight: bolder;
                background-color: #ffaa99;
                font-family: Arial;
                vertical-align: middle;
            }
            #full-banner p {
                padding: 0px;
                margin: auto;
            }
        </style>

        <script
            type="text/javascript"
            src="https://navatha3-dev-ed.lightning.force.com/canvas/sdk/js/45.0/canvas-all.js"></script>
        <script type="text/javascript">
            console.log('SFDC Raw Context: <%= context %>');
            alert('1');
            Sfdc.canvas(function () {
                var sr = JSON.parse('<%=signedRequestJson%>');
                alert(2);
                Sfdc.canvas.client.subscribe({
                    name: 'mynamespace.statusChanged',
                    onData: function (e) {
                        console.log('Canvas recevied', e);
                        alert('cc');
                    },
                });
                alert(3);
            });

            function clickon() {
                alert('11');
                Sfdc.canvas.client.publish({ name: 'recordchanged', payload: { message: 'teast' } });
                alert('22');
            }
        </script>
    </head>
    <body>
        <% var user = "No user"; if (context != "") { var user = context['context']['user']['userName']; } %>

        <div id="full-banner"><p>You're connected to this system as <%= user %>.</p></div>

        <img id="ctx" src="<%= url %>" />
        <div>
            akakak
            <input type="button" value="tst" onclick="clickon()" />
        </div>
    </body>
</html>
